 @charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

#header {
	width: 100%;
	height: 80px;
	background-color: blue;
	color: #ffffff;
	text-align: center;
	line-height: 80px;
}

#nav {
	width: 100%;
	height: 40px;
	background-color: skyblue;
	color: #ffffff;
	line-height: 40px;
}

#nav ul li a {
	float: left;
	padding: 0 10px;
}

.section {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: lightgray;
}

.section p {
	padding: 10px;
}

.section h2 {
	padding: 20px 0;
	text-align: center;
}
 
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: blue;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	font-size: 11px;
}

.table_style {
	margin: 0 auto;
	overflow: auto;
	border: 1px solid black;
}

.table_style th, .table_style td {
	padding: 5px;
	border: 1px solid black;
}

.table_style .center td {
	text-align: center;
}